body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 10%;
    text-align: center;
}

h1 {
    color: #333;
    background-color: transparent;
}

a {
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    float: left;
    padding: 1em;
    list-style: none;
}

img {
    display: block;
    clear: both;
}

#imagegallery {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

#imagegallery li {
    display: inline;
}

#imagegallery li a img {
    border: 0;
}

#placeholder {
    display: inline-block;
    width: 30%;
    max-width: 500px;
    box-sizing: border-box;
}