html, body {
  font-size: 16px;
}

.btn-reset {
  margin-left: .5rem;
  vertical-align: text-bottom;
}

.btn:hover {
  cursor: pointer;
}

.input-selector {
  width: 5.5rem;
  border-radius: .3rem;
}

.sidebar {
  float: left;
  width: 200px;
}

.display {
  margin: 20px;
  padding-left: 200px;
}

.display li {
  list-style: none;
}

.travals {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
  max-height: 300px;
  overflow: auto;
}

.travel-item {
  padding: 5px;
}

.display * {
  border: 1px solid;
  padding: 10px;
}

