html, body {
  font-size: 16px;
}

.btn-reset {
  margin-left: .5rem;
}

.btn:hover {
  cursor: pointer;
}

.input-selector {
  width: 9rem;
}

.display {
  margin: 20px;
  padding-left: 200px;
}

.display li {
  list-style: none;
}

.operate-bar {
  float: left;
  width: 200px;
}

.travel-item {
  padding: 5px;
}

.display * {
  border: 1px solid;
  padding: 10px;
}

